/* Reset some default styles for better consistency */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Apply styles to the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Style the header section */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

/* Style the navigation menu */
nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Style the content section */
.content {
    padding: 20px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    
    
}

figure{
    text-align: center;
}

figcaption{
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    display: block; 
    margin: 0 auto;  /*centers the caption*/
}

/* Style the footer section */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Style the social media icons */
.social-media a {
    margin: 0 10px;
}

.social-media img {
    width: 30px;
    height: 30px;
}
